header.site-header
    a(href='./')
        .logo Profile Pensions.

    if menuContent != null
        nav
            ul
                each link in menuContent.data.menuLinks
                    li
                        a(href=PrismicDOM.Link.url(link.link, ctx.linkResolver))
                            != link.label
